# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-a84639b30dd7f6b67449.json
/out/build/x64-Debug/.cmake/api/v1/reply
/out/build/x64-Debug
/.vs
